<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post" th:action="@{/}">
    <div style="margin-bottom: 10px;">
        <label for="type">Type:</label>
        <input type="text" id="type" name="type">
    </div>

    <div style="margin-bottom: 10px;">
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" required>
    </div>

    <div style="margin-bottom: 10px;">
        <label for="category">Category:</label>
        <input type="text" id="category" name="category">
    </div>

    <div style="margin-bottom: 10px;">
        <label for="date">Date:</label>
        <input type="date" id="date" name="date">
    </div>

    <button type="submit">Add Transaction</button>
</form>
</body>
</html>