<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Transactions</title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <link th:href="@{/webjars/bootstrap/5.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
<main class="container mt-5">
    <div class="row">
        <h1>Transactions</h1>
    </div>
    <div class="row mt-3">
        <div class="col">
            <a hx-post="/reset" hx-target=".transactions-list" class="btn btn-primary">Reset Transactions</a>
        </div>
    </div>
    <div class="row mt-3">
        <table class="table table-bordered transactions-list" th:fragment="transactions-list">
            <thead>
            <tr>
                <th>ID</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Category</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="transaction: ${transactions}">
                <td><span th:text="${transaction.id}"></span></td>
                <td><span th:text="${transaction.type}"></span></td>
                <td><span th:text="${transaction.amount}"></span></td>
                <td><span th:text="${transaction.category.name}"></span></td>
                <td><span th:text="${#dates.format(transaction.date, 'yyyy-MM-dd')}"></span></td>
                <td>
                    <a th:href="@{/showUpdateForm/{id}(id=${transaction.id})}" class="btn btn-warning">Edit</a>
                    <a th:attr="hx-delete=@{/{id}(id=${transaction.id})}" hx-swap="outerHTML"
                       hx-target="closest tr" class="btn btn-danger"
                       hx-confirm="Are you sure you want to delete this transaction?">Delete</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr th:fragment="transaction-form">
                <form id="transaction-form"
                      hx-post="/createTransaction"
                      hx-target=".transactions-list"
                      hx-include="*"
                      hx-swap-oob="true">
                    <td>#</td>
                    <td><input type="text" id="type" name="type" class="form-control"></td>
                    <td><input type="number" id="amount" name="amount" required class="form-control"></td>
                    <td><input type="text" id="category" name="category" class="form-control"></td>
                    <td><input type="date" id="date" name="date" class="form-control"></td>
                    <td><button type="submit" class="btn btn-primary">Add</button></td>
                </form>
            </tr>
            </tfoot>
        </table>
    </div>
</main>
</body>
<script th:src="@{/webjars/bootstrap/5.3.1/js/bootstrap.bundle.min.js}" defer></script>
<script th:src="@{/webjars/htmx.org/1.9.4/dist/htmx.min.js}" defer></script>
<script th:src="@{/webjars/jquery/3.5.0/jquery.min.js}"></script>
</html>